@font-face {
    font-family: "figtree";
    src: url("../../media/fonts/Figtree-VariableFont_wght.ttf");
}

body {
    background-color: #0A0908;
}

h1, p {
    color: #F7F0F5;
    font-family: "figtree";
}